<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Configuracion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-header collapse="condense" >
    <ion-toolbar color="light">
      <ion-title size="large">Configuracion</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-list-header>Apariencia</ion-list-header>
      <ion-list [inset]="true">
        <ion-item>
          <ion-toggle [(ngModel)]="paletteToggle" (ionChange)="toggleChange($event)" justify="space-between" color="success">
            Modo oscuro 🌙
          </ion-toggle>
        </ion-item>
      </ion-list>

  <ion-list [inset]="true">
    <ion-item [button]="true">
      <ion-label>Opcion 1</ion-label>
    </ion-item>
    <ion-item [button]="true">
      <ion-label>Opcion 2</ion-label>
    </ion-item>
  </ion-list>

  <ion-list [inset]="true">
    <ion-item>
      <ion-toggle color="success">
        <ion-label>Permitir notificaciones 🔔</ion-label>
        <ion-note color="medium">Unsubscribe at any time</ion-note>
      </ion-toggle>
    </ion-item>
  </ion-list>

  <ion-list [inset]="true">
    <ion-item>
      <ion-textarea label="Commentarios" labelPlacement="floating" rows="5"></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-note color="medium" class="ion-margin-horizontal">
    Los comentarios son de prueba
  </ion-note>
  <br>
  <ion-note color="medium" class="ion-margin-horizontal">
     Lenguajes modernos de programacion ®️</ion-note>
  <br>
    <ion-note class="ion-margin-horizontal">Version 0.1 alpha</ion-note>
  
</ion-content>
