<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cerrarModal()" color="danger">Cancelar</ion-button>
    </ion-buttons>
    <ion-title>Detalles</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()" color="primary">Listo</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-list [inset]="true">
    <ion-item>
      <ion-input aria-label="Task name" placeholder="Titulo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Notas"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list [inset]="true">
    <ion-item>
      <ion-toggle color="success" (ionChange)="toggleDateTime($event)">
        Fecha y Hora
      </ion-toggle>
    </ion-item>
    <ion-item *ngIf="showDateTime">
      <ion-datetime display-format="DD/MM/YYYY HH:mm" placeholder="Selecciona fecha y hora"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-toggle justify="space-between" color="success">
        Todo el dia
      </ion-toggle>
    </ion-item>
    <ion-item>
      <ion-toggle justify="space-between" color="success">
        Recordatorio diario
      </ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>