/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";


:root {
	--ion-color-naranja: #ff9400;
	--ion-color-naranja-rgb: 255,148,0;
	--ion-color-naranja-contrast: #000000;
	--ion-color-naranja-contrast-rgb: 0,0,0;
	--ion-color-naranja-shade: #e08200;
	--ion-color-naranja-tint: #ff9f1a;
}

.ion-color-naranja {
	--ion-color-base: var(--ion-color-naranja);
	--ion-color-base-rgb: var(--ion-color-naranja-rgb);
	--ion-color-contrast: var(--ion-color-naranja-contrast);
	--ion-color-contrast-rgb: var(--ion-color-naranja-contrast-rgb);
	--ion-color-shade: var(--ion-color-naranja-shade);
	--ion-color-tint: var(--ion-color-naranja-tint);
}

:root {
	--ion-color-borrar: #ff3b2f;
	--ion-color-borrar-rgb: 255,59,47;
	--ion-color-borrar-contrast: #000000;
	--ion-color-borrar-contrast-rgb: 0,0,0;
	--ion-color-borrar-shade: #e03429;
	--ion-color-borrar-tint: #ff4f44;
}

.ion-color-borrar {
	--ion-color-base: var(--ion-color-borrar);
	--ion-color-base-rgb: var(--ion-color-borrar-rgb);
	--ion-color-contrast: var(--ion-color-borrar-contrast);
	--ion-color-contrast-rgb: var(--ion-color-borrar-contrast-rgb);
	--ion-color-shade: var(--ion-color-borrar-shade);
	--ion-color-tint: var(--ion-color-borrar-tint);
}

:root {
	--ion-color-gris: #c8c7cc;
	--ion-color-gris-rgb: 200,199,204;
	--ion-color-gris-contrast: #000000;
	--ion-color-gris-contrast-rgb: 0,0,0;
	--ion-color-gris-shade: #b0afb4;
	--ion-color-gris-tint: #cecdd1;
}

.ion-color-gris {
	--ion-color-base: var(--ion-color-gris);
	--ion-color-base-rgb: var(--ion-color-gris-rgb);
	--ion-color-contrast: var(--ion-color-gris-contrast);
	--ion-color-contrast-rgb: var(--ion-color-gris-contrast-rgb);
	--ion-color-shade: var(--ion-color-gris-shade);
	--ion-color-tint: var(--ion-color-gris-tint);
}

:root {
	--ion-color-caffe: #a2845e;
	--ion-color-caffe-rgb: 162,132,94;
	--ion-color-caffe-contrast: #000000;
	--ion-color-caffe-contrast-rgb: 0,0,0;
	--ion-color-caffe-shade: #8f7453;
	--ion-color-caffe-tint: #ab906e;
}

.ion-color-caffe {
	--ion-color-base: var(--ion-color-caffe);
	--ion-color-base-rgb: var(--ion-color-caffe-rgb);
	--ion-color-contrast: var(--ion-color-caffe-contrast);
	--ion-color-contrast-rgb: var(--ion-color-caffe-contrast-rgb);
	--ion-color-shade: var(--ion-color-caffe-shade);
	--ion-color-tint: var(--ion-color-caffe-tint);
}
  
  /*
   * iOS Dark Theme
   * -------------------
   */
  
  .ios body.dark {
	--ion-background-color: #000000;
	--ion-background-color-rgb: 0, 0, 0;
  
	--ion-text-color: #ffffff;
	--ion-text-color-rgb: 255, 255, 255;
  
	--ion-color-step-50: #0d0d0d;
	--ion-color-step-100: #1a1a1a;
	--ion-color-step-150: #262626;
	--ion-color-step-200: #333333;
	--ion-color-step-250: #404040;
	--ion-color-step-300: #4d4d4d;
	--ion-color-step-350: #595959;
	--ion-color-step-400: #666666;
	--ion-color-step-450: #737373;
	--ion-color-step-500: #808080;
	--ion-color-step-550: #8c8c8c;
	--ion-color-step-600: #999999;
	--ion-color-step-650: #a6a6a6;
	--ion-color-step-700: #b3b3b3;
	--ion-color-step-750: #bfbfbf;
	--ion-color-step-800: #cccccc;
	--ion-color-step-850: #d9d9d9;
	--ion-color-step-900: #e6e6e6;
	--ion-color-step-950: #f2f2f2;
  
	--ion-toolbar-background: #0d0d0d;
  
	--ion-item-background: #1c1c1c;
	--ion-item-background-activated: #313131;
  }
  
  /*
   * Material Design Dark Theme
   * ------------------------------
   */
  
  .md body.dark {
	--ion-background-color: #121212;
	--ion-background-color-rgb: 18, 18, 18;
  
	--ion-text-color: #ffffff;
	--ion-text-color-rgb: 255, 255, 255;
  
	--ion-border-color: #222222;
  
	--ion-color-step-50: #1e1e1e;
	--ion-color-step-100: #2a2a2a;
	--ion-color-step-150: #363636;
	--ion-color-step-200: #414141;
	--ion-color-step-250: #4d4d4d;
	--ion-color-step-300: #595959;
	--ion-color-step-350: #656565;
	--ion-color-step-400: #717171;
	--ion-color-step-450: #7d7d7d;
	--ion-color-step-500: #898989;
	--ion-color-step-550: #949494;
	--ion-color-step-600: #a0a0a0;
	--ion-color-step-650: #acacac;
	--ion-color-step-700: #b8b8b8;
	--ion-color-step-750: #c4c4c4;
	--ion-color-step-800: #d0d0d0;
	--ion-color-step-850: #dbdbdb;
	--ion-color-step-900: #e7e7e7;
	--ion-color-step-950: #f3f3f3;
  
	--ion-item-background: #1a1b1e;
  }

  ion-item {
  --transition: none;
}