<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button fill="clear" id="settings">
        <ion-icon name="ellipsis-horizontal-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-segment value="lista" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="lista">
        <ion-label>Lista</ion-label>
      </ion-segment-button>
      <ion-segment-button value="calendario">
        <ion-label>Calendario</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-popover trigger="settings" [translucent]="true" [isOpen]="isOpen" (didDismiss)="isOpen = false">
  <ng-template>
    <ion-content>
        <ion-list lines="full">
          <ion-item>
            <ion-chip color="naranja">
              <ion-avatar>
                <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar>
              <ion-label>Usuario</ion-label>
            </ion-chip>
          </ion-item>
            <ion-button fill="clear" (click)="irAConfig()">
              <ion-icon name="cog-outline"></ion-icon>
              <ion-item>Configuracion</ion-item>
            </ion-button>
          <ion-button fill="clear" color="borrar" (click)="irALogin()">
            <ion-icon name="exit-outline"></ion-icon>
            <ion-item id="cerrarSesion">Cerrar sesion</ion-item>
          </ion-button>
        </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>

<ion-content [fullscreen]="true">
  <div *ngIf="segmentValue == 'lista'">
    <ion-header collapse="condense" mode="ios">
      <ion-toolbar>
        <ion-title size="large" color="naranja">Recordatorios</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-list mode="ios" [inset]="true">
      <ion-item-sliding *ngFor="let recordatorio of recordatorios">
        <ion-item class="recordatorioItem" (click)="openEditModal(recordatorio)">
          <ion-label>
            <ion-checkbox labelPlacement="end" justify="start" mode="ios">{{recordatorio.title}}</ion-checkbox>
            <p id="details">{{recordatorio.notes}}</p>
            <p id="fecha">{{ recordatorio.date.toDate() | date: 'dd-MM-yy,  HH:mm' }}</p> 
          </ion-label>
        </ion-item>
        <ion-item-options side="start">
          <ion-item-option color="primary" expandable id="terminarBtn">Completar</ion-item-option>
        </ion-item-options>
        <ion-item-options side="end" *ngIf="recordatorio">
          <ion-item-option color="borrar" expandable id="eliminarBtn" (click)="onClickDelete(recordatorio)">
            Eliminar
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>

  <div *ngIf="segmentValue == 'calendario'">
    <ion-header collapse="condense" mode="ios">
      <ion-toolbar>
        <ion-title size="large" color="naranja">Calendario</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-datetime presentation="date" [highlightedDates]="highlightedDates" color="naranja" picker-format=" dd-MM-yy"
    [(ngModel)]="selectedDate" (ionChange)="onDateChange($event)"></ion-datetime>

    <ion-list mode="ios" [inset]="true">
      <ion-item-sliding *ngFor="let recordatorio of recordatorios">
        <ion-item class="recordatorioItem" (click)="openEditModal(recordatorio)" *ngIf="isSameDate(recordatorio.date.toDate().toISOString(), selectedDate)">
          <ion-label>
            <ion-checkbox labelPlacement="end" justify="start" mode="ios">{{recordatorio.title}}</ion-checkbox>
            <p id="details">{{recordatorio.notes}}</p>
            <p id="fecha">{{ recordatorio.date.toDate() | date: 'dd-MM-yy, HH:mm' }}</p> 
          </ion-label>
        </ion-item>
        <ion-item-options side="start">
          <ion-item-option color="primary" expandable id="terminarBtn">Completar</ion-item-option>
        </ion-item-options>
        <ion-item-options side="end" *ngIf="recordatorio">
          <ion-item-option color="borrar" expandable id="eliminarBtn" (click)="onClickDelete(recordatorio)">
            Eliminar
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>

  <ion-modal #modal trigger="nuevo" [presentingElement]="presentingElement">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="dismissModal()" color="danger">Cancelar</ion-button>
          </ion-buttons>
          <ion-title allignment="center">Nuevo</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="submitAndDismissCreate()" color="primary">Listo</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content color="light">
        <form (ngSubmit)="onSubmit()">
          <ion-list [inset]="true">
            <ion-item>
              <ion-input [(ngModel)]="title" name="title" aria-label="Task name" placeholder="Titulo"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input [(ngModel)]="notes" name="notes" placeholder="Notas"></ion-input>
            </ion-item>
          </ion-list>
          
          <ion-list [inset]="true" id="fechaModal1">
            <ion-item>
              <ion-datetime [value]="date" [min]="date" max="2224-05-31T23:59:59" [(ngModel)]="date" name="date">
              </ion-datetime>
            </ion-item>
          </ion-list>
          
          <ion-list [inset]="true">
            <ion-item>
              <ion-toggle justify="space-between" color="success">
                Todo el dia
              </ion-toggle>
            </ion-item>
            <ion-item>
              <ion-toggle justify="space-between" color="success">
                Recordatorio diario
              </ion-toggle>
            </ion-item>
          </ion-list>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- Recordatorio Modal -->
  <ion-modal #modal [isOpen]="isModalOpen" [presentingElement]="presentingElement">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="setOpen(false)" color="danger">Cancelar</ion-button>
          </ion-buttons>
          <ion-title>Detalles</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="submitAndDismiss()" color="primary">Listo</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
  
      <ion-content color="light">
        <ion-list [inset]="true">
          <ion-item>
            <ion-input [(ngModel)]="title" name="title" aria-label="Task name" placeholder="Titulo"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input [(ngModel)]="notes" name="notes" placeholder="Notas"></ion-input>
          </ion-item>
          <ion-item>
            <ion-toggle color="success" [(ngModel)]="showDateTime" (ionChange)="toggleDateTime($event)">
              Fecha y Hora
            </ion-toggle>
          </ion-item>
          <ion-item *ngIf="showDateTime">
            <ion-datetime
              [(ngModel)]="date"
              name="date"
              (ionChange)="onDateChange($event)"
              placeholder="Selecciona fecha y hora">
            </ion-datetime>
          </ion-item>
          <ion-item>
            <ion-toggle justify="space-between" color="success">
              Todo el dia
            </ion-toggle>
          </ion-item>
          <ion-item>
            <ion-toggle justify="space-between" color="success">
              Recordatorio diario
            </ion-toggle>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>

  <ion-footer [translucent]="true">
    <ion-toolbar>
      <ion-buttons>
        <ion-button fill="clear" color="naranja" id="nuevo">
          <ion-icon name="add-circle"></ion-icon>
          <b>Nuevo</b>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>