<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-title>
      Recordatorios
    </ion-title> -->
    <ion-buttons slot="primary">
      <ion-button fill="clear" id="settings">
        <ion-icon name="ellipsis-horizontal-circle-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-segment value="lista" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="lista">
        <ion-label>Lista</ion-label>
      </ion-segment-button>
      <ion-segment-button value="calendario">
        <ion-label>Calendario</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-popover trigger="settings" [translucent]="true" [isOpen]="isOpen" (didDismiss)="isOpen = false">
  <ng-template>
    <ion-content>
        <ion-list lines="full">
          <ion-item>
            <ion-chip color="naranja">
              <ion-avatar>
                <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar>
              <ion-label>Usuario</ion-label>
            </ion-chip>
          </ion-item>
            <ion-button fill="clear" (click)="irAConfig()">
              <ion-icon name="cog-outline"></ion-icon>
              <ion-item>Configuracion</ion-item>
            </ion-button>
          <ion-button fill="clear" color="borrar" (click)="irALogin()">
            <ion-icon name="exit-outline"></ion-icon>
            <ion-item id="cerrarSesion">Cerrar sesion</ion-item>
          </ion-button>
        </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>

<ion-content [fullscreen]="true" >
  <div *ngIf="segmentValue == 'lista'">
    <ion-header collapse="condense" mode="ios">
      <ion-toolbar>
        <ion-title size="large" color="naranja">Recordatorios</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-list  mode="ios" [inset]="true">
      <ion-item-sliding *ngFor="let item of repeatArray; let i = index">
        <!-- hice un for para repetir el elemnto y se pueda ver la lista,
        el array es de 15 de largo, su proposito fue de unicamente para pruebas -->
        <!-- <ion-item>
          <ion-checkbox slot="start" aria-label="Toggle task completion"></ion-checkbox>
          <ion-input aria-label="Task name" value="Get milk"></ion-input>
        </ion-item> -->
        <ion-item class="recordatorioItem">
          <ion-label>
          <ion-checkbox labelPlacement="end" justify="start" mode="ios">Recordatorio {{i + 1}}</ion-checkbox>
          <p id="details">Nota <br> 01/01/01, 1:00 pm</p>  
          <!-- Para usar los elementos, hay que guardarlos en ts, y desplegarlos de la forma {{variable}}
          si el usuario no le da un valos a notas, fecha ni hora, hay que dejar el espacio vacio -->
          </ion-label>
        </ion-item>
        <ion-item-options side="start">
          <ion-item-option color="caffe" expandable id="terminarBtn" >Opcion</ion-item-option>
        </ion-item-options>
        <ion-item-options side="end">
          <ion-item-option color="gris" id="editarBtn" expand="block">Detalles</ion-item-option>
          <ion-item-option color="borrar" expandable id="eliminarBtn">
            Eliminar
          </ion-item-option>
        </ion-item-options>
        
      </ion-item-sliding>
      <!-- El chiste de aqui es agregar un ion-modal que se active al darle
      click al boton editar para editar el elemento -->
      <!-- aqui les dejo el link de los ion-modal:
      https://ionicframework.com/docs/api/modal -->
    </ion-list>
    
  </div>
  <div *ngIf="segmentValue == 'calendario'">
    <ion-header collapse="condense" mode="ios">
      <ion-toolbar>
        <ion-title size="large" color="naranja">Calendario</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-datetime presentation="date"></ion-datetime>
    <ion-list [inset]="true">
      <ion-item-sliding *ngFor="let item of repeatArray; let i = index">
        <ion-item>
          <ion-checkbox slot="start" aria-label="Toggle task completion"></ion-checkbox>
          <ion-input aria-label="Task name" value="recordario {{i + 1}}"></ion-input>
        </ion-item>

        <ion-item-options side="start">
          <ion-item-option color="caffe" expandable id="terminarBtn">Opcion</ion-item-option>
        </ion-item-options>
        <ion-item-options side="end">
          <ion-item-option color="gris" id="editarBtn">Detalles</ion-item-option>
          <ion-item-option color="borrar" expandable id="eliminarBtn">
            Eliminar
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
  <ion-modal #modal trigger="editarBtn" [presentingElement]="presentingElement" >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Detalles</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="modal.dismiss()">Listo</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content color="light">
        <ion-list [inset]="true">
          <ion-item>
            <ion-input aria-label="Task name" placeholder="Titulo"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Notas"></ion-input>
          </ion-item>
        </ion-list>

        <ion-list [inset]="true">
          <ion-item>
            <ion-toggle justify="space-between" color="success">
              Fecha
            </ion-toggle>
          </ion-item>
          <ion-item>
            <ion-toggle justify="space-between" color="success">
              Hora
            </ion-toggle>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal #modal trigger="nuevo" [presentingElement]="presentingElement" >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Nuevo Recordatiorio</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="modal.dismiss()">Listo</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content color="light">
        <ion-list [inset]="true">
          <ion-item>
            <ion-input aria-label="Task name" placeholder="Titulo"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Notas"></ion-input>
          </ion-item>
        </ion-list>

        <ion-list [inset]="true">
          <ion-item>
            <ion-datetime></ion-datetime>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-button fill="clear" color="naranja" id="nuevo">
        <ion-icon name="add-circle"></ion-icon>
        <b>Nuevo</b>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>